DROP TABLE IF EXISTS WORDS;
DROP SEQUENCE IF EXISTS WORDS_ID_SEQ;
CREATE SEQUENCE WORDS_ID_SEQ
  START WITH 1;
CREATE TABLE WORDS
(
  ID INTEGER PRIMARY KEY DEFAULT NEXTVAL('WORDS_ID_SEQ'),
  WORD VARCHAR NOT NULL
);
