DROP TABLE IF EXISTS WORDS;
DROP SEQUENCE IF EXISTS WORDS_ID_SEQ;
CREATE SEQUENCE WORDS_ID_SEQ
  START WITH 1;
CREATE TABLE WORDS
(
  ID INTEGER PRIMARY KEY DEFAULT NEXTVAL('WORDS_ID_SEQ'),
  WORD VARCHAR NOT NULL
);

DROP TABLE IF EXISTS CORRECT_JOKES;
DROP SEQUENCE IF EXISTS CORRECT_JOKES_ID_SEQ;
CREATE SEQUENCE CORRECT_JOKES_ID_SEQ
  START WITH 1;
CREATE TABLE CORRECT_JOKES
(
  ID INTEGER PRIMARY KEY DEFAULT NEXTVAL('CORRECT_JOKES_ID_SEQ'),
  JOKE_TEXT INTEGER[]
);

DROP TABLE IF EXISTS MARKOV_CHAINS;
DROP SEQUENCE IF EXISTS MARKOV_CHAINS_ID_SEQ;
CREATE SEQUENCE MARKOV_CHAINS_ID_SEQ
  START WITH 1;
CREATE TABLE MARKOV_CHAINS
(
  ID INTEGER PRIMARY KEY DEFAULT NEXTVAL('MARKOV_CHAINS_ID_SEQ'),
  CHAIN INTEGER[]
);
